*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #FAF9F6;
    color: #110B11;
}

body,
h2,
p {
    margin: 0
}

h1 {
    margin: 2.15em 0 0 0;
    font-size: 1.75rem;
    /* 28px */
    padding: 0 0 15px 0;
}

h2 {
    padding: 0 0 0.28em 0;
    font-weight: 500;
    /* 18px */
    font-size: 1.125rem;
}

p {
    padding: 0 0 0.625em 0;
}

.main-container {
    max-width: 600px;
    margin: 0 auto;
}

.idea-container,
.generator-desc {
    height: 120px;
}

.idea-container {
    display: none;
}

.generator-desc {
    display: block;
}

.text-container {
    display: flex;
    flex-direction: column;
    margin: 0.30em 0.95em;
}

button {
    background-color: #A5D0A8;
    color: #110B11;
    font-weight: 500;
    cursor: pointer;
    border: 0;
    border-radius: 6px;
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    /* 18px */
    margin: 0.28em 0.85em;
    padding: 0.85em 1em;
}

button:hover,
button:focus,
button:active {
    border: 2px solid #A5D0A8;
    background-color: #FAF9F6;
}

@media(min-width:480px) {

    .idea-container,
    .generator-desc {
        height: 90px;
    }
}